
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    --font-heading: "Trebuchet MS", "Segoe UI", sans-serif;
  }

  body {
    @apply bg-background text-text-primary;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .glassmorphism {
    @apply bg-surface/50 backdrop-blur-lg border border-white/10 shadow-lg;
  }
}
